body{
    font-family:sans-serif;
    padding-top: 7rem;
    padding-left: 17rem;
    padding-right: 17rem;
    font-size: 0.95rem;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li{
    display: inline;
    font-weight: bold;
}
li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0.7rem 0.7rem;
    text-decoration: none;
}

li a.secondNavBar{
    padding: 0.7rem 0.7rem;
    margin-left: 0.1rem;
    margin-right: 0.4rem;
    margin-bottom: 0.2rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    width: 10rem;
}

.mainNavBar{
    float:right;
}

#signIn{
    color: white;
    background-color: black;
    border-radius: 3rem;
}

#logo{
    height: 10%;
    width: 10%;
    float: left;
}

ul.container{
    float: none;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.itemNavBar{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content:space-between;
}

.searchContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

#searchBox{
    border-radius: 3rem;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    margin-top: 9rem;
    width: 49rem;
    height: 3rem;
    border-color: lightgray;
    box-shadow: ;
    border-width: 1px;
    font-size: 1.2rem;
}

.searchBlock{
    position: absolute;
}
